.widgets{
    flex: 0.3;
    margin-left: 20px;
}
.widgets_search{
    display: flex;
    align-items: center;
    height: 20px;
    padding: 5px 10px;
    border-radius: 30px;
    margin-top: 10px;
    background-color: #e6ecf0;
}
.widgets_SearchIcon{
    color: grey;
    font-size: 18px !important;
    margin-right: 10px;
}
.widgets_search > input{
    min-width: 240px ;
    border: none;
    outline: none;
    font-size: 12px;
    background-color: #e6ecf0;
}
.widgets_container{
    margin-top: 15px;
    margin-left: 10px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
}
.widgets_container h2{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 16px;
}